
<h1>Referrer Policy</h1>
<section>
    <h3>Demo</h3>
    <ul>
        <li>
            <a href="http://angel.local/Referrer/DefaultReferrerPolicy?Key=TopSecret">DefaultReferrerPolicy</a>
        </li>
        <li>
            <a href="http://angel.local/Referrer/NoReferrerPolicy?Key=TopSecret">NoReferrerPolicy</a>
        </li>
    </ul>
</section>
<article>    
    <p>
        When a user navigates to a site via a hyperlink or a website loads an external resource, browsers inform the destination site of the origin of the requests through the use of the HTTP Referer (sic) header. Although this can be useful for a variety of purposes, it can also place the privacy of users at risk. HTTP Referrer Policy allows sites to have fine-grained control over how and when browsers transmit the HTTP Referer header
    </p>
    <h5>Links:</h5>
    @{
        var links = new[]
        {
            "https://infosec.mozilla.org/guidelines/web_security.html#referrer-policy"
        };
    }
    <ul>
        @foreach (var link in links)
        {
            <li><a href="@link">@link</a></li>
        }
    </ul>
</article>

