<h2>Agenda</h2>
<ul>
    <li><a asp-controller="Csrf" asp-action="Index">CSRF</a></li>
    <li><a asp-controller="Ssrf" asp-action="Index">SSRF</a></li>
    <li><a asp-controller="Xss" asp-action="Index">XSS</a></li>
    <li><a asp-controller="Xssi" asp-action="Index">XSSI</a></li>
    <li><a asp-controller="Xxe" asp-action="Index">XXE</a></li>
    <li><a asp-controller="SameSite" asp-action="Index">SameSite</a></li>
</ul>

<h4>Sources</h4>
<ul>
    <li><a href="https://owasp.org/">OWASP Foundation</a></li>
    <li><a href="https://portswigger.net/">PortSwigger</a></li>
    <li><a href="https://sekurak.pl/">Sekurak Portal & Book "Bezpieczeństwo Aplikacji Webowych"</a></li>
    <li><a href="https://www.amazon.com/Web-Application-Security-Exploitation-Countermeasures/dp/1492053112">Web Application Security by Andrew Hoffman</a></li>
</ul>
