
<h1>Cross-Origin Resource Sharing (CORS)</h1>

<ul>
    <li><a asp-controller="cors" asp-action="demo">Demo on Angel's Website</a></li>
    <li><a href="http://devil.local/cors" target="_blank">Demo on Devil's Website</a></li>
</ul>


