
@{
    ViewData["Title"] = "Index";
}

<h1>XSSI</h1>
<a asp-controller="Xssi" asp-action="StaticJavaScript">StaticJavaScript Demo</a>
<a asp-controller="Xssi" asp-action="JsonHijacking">JsonHijacking Demo</a>


