
@{
    ViewData["Title"] = "About";
}

 <h1>Training: Web security and HTTP Security Headers</h1>
<hr/>
<p>
    The purpose of this project is to demonstrate how works the basic HTTP headers, which have an impact on web application security.
    The code source is unsuitable to be used in the real application. 
    The implementation has been simplified or even in some cases created breaking the recommended rules in the .Net Core framework
</p>
<p>
    Solution contains 3 projects:
    <ul>
        <li>WebSiteAngel - Main application, hosted: http://angel.local/ </li>
        <li>WebApi - Rest APi for Main App, hosted: http://localhost:5000</li>
        <li>WebSiteDevil - The website, created by the hacker which is trying to steal our secre, hosted: http://devil.local/ </li>
    </ul>
</p>
