<div class="text-center">
    <h1>Angel</h1>
</div>

<ul>
    <li><a asp-controller="Cors" asp-action="Index">Cross-Origin Resource Sharing (Cors)</a></li>
    <li><a asp-controller="Frame" asp-action="Index">X-Frame-Options</a></li>  
    <li><a asp-controller="ContentType" asp-action="Index">X-Content-Type: nosniff</a></li>
    <li><a asp-controller="Xss" asp-action="Index">X-XSS-Protection</a></li>
    <li><a asp-controller="Csp" asp-action="Index">Content-Security-Policy (CSP)</a></li>
    <li><a asp-controller="Hsts" asp-action="Index">HTTP Strict Transport Security (HSTS)</a></li>
    <li><a asp-controller="Referrer" asp-action="Index">Referrer Policy</a></li>
    <li>XSSI ??</li>
</ul>
