

<h1>Content Security Policy (CSP)</h1>
<ul>
    <li><a asp-controller="Csp" asp-action="Off">Without CSP</a></li>
    <li><a asp-controller="Csp" asp-action="On">With CSP</a></li>
</ul>

<article>

    Helps to detect and mitigate certain types of attacks:
    - Cross Site Scripting (XSS)
    - Data injection
    - Packet sniffing (server can specify that all content must be loaded using HTTPS)


    Links
    https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

</article>



