
<h1>@ViewData["Title"]</h1>

<img src="http://devil.local/images/little_devil.png" alt="little_devil" />
<div onmouseenter ="alert('you have been hacked {2}'); return false;">some text, move mouse over this text</div>
<script type="text/javascript">    
    alert('you have been hacked {1}');
</script>