@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1>Devil</h1>
</div>

@*



*@



@section Scripts
{

    <!--
    The fact that this is a JSON array is important.
    It turns out that a script that contains a JSON array is a valid JavaScript script and can thus be executed.
    A script that just contains a JSON object is not a valid JavaScript file.
    -->

    <script>

        // Non-standard and deprecated way
        Object.prototype.__defineSetter__('id', function(obj){
            alert(obj);
        });
        Object.prototype.__defineSetter__('name', function(obj){
            alert(obj);
        });        
    </script>
    
    <script type="text/javascript" src="https://localhost:5001/api/XContentType/MimeConfusionAttack"></script>    
}