
<h1>Referrer Policy</h1>

<ul>
    <li>
        <a href="http://angel.local/Referrer/DefaultReferrerPolicy?Key=TopSecret">DefaultReferrerPolicy</a>
    </li>
    <li>
        <a href="http://angel.local/Referrer/NoReferrerPolicy?Key=TopSecret">NoReferrerPolicy</a>
    </li>
</ul>


<p>https://infosec.mozilla.org/guidelines/web_security.html#referrer-policy</p>
